.navbar {
    position: relative;
}

.navbar-nav {
  gap: 64px;
}

@media only screen and (max-width: 1224px) {
  .navbar-nav {
    gap: 0px;
  }
  #logo {
    display: none;
  }
}

@media only screen and (min-width:1224px) {
  #logo {
    display:block;
  }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0rem;
}

.navbarcustom {
  background-color: (var(--BlackColor));
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.nav-link {
  color: var(--WhiteColor);
  font-weight: 600;
}
button {
  background-color: (var(--BlackColor));
  border: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

#logo {
  cursor: pointer;
}